@font-face {
  font-family: 'TT Norms';
  font-weight: bold;
  src: url('/fonts/TTNorms-Bold.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 100;
  src: url('/fonts/TTNorms-ExtraLight.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 600;
  src: url('/fonts/TTNorms-Heavy.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 200;
  src: url('/fonts/TTNorms-Light.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  src: url('/fonts/TTNorms-Medium.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  src: url('/fonts/TTNorms-Regular.otf');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 300;
  src: url('/fonts/TTNorms-Thin.otf');
}