body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow-x: hidden; */
  font-family: 'TT Norms', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

textarea,
input.text,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='button'],
input[type='password'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
